<div  id="pnlLogin">
    <app-messageboxes></app-messageboxes>
    <div class="container" style="padding-top:25px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{pageTitle}}</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" [formGroup]="form" (ngSubmit)="changePassword()" id="ngForm" #loginForm="ngForm">
                            <div *ngIf="!resetPassword" class="form-group">
                                <label for="oldPassword">Current Password</label>
                                <input id="oldPassword"
                                       type="password"
                                       class="form-control"
                                       formControlName="oldPassword">
                                <div *ngIf="resetPassword == false && form.controls.oldPassword.touched && form.controls.oldPassword.errors">
                                    <div *ngIf="form.controls.oldPassword.errors.required"
                                         class="alert alert-danger">Old password is required.</div>
                                    <div *ngIf="form.controls.oldPassword.errors.validOldPassword"
                                         class="alert alert-danger">Old password is incorrect.</div>
                                </div>
                            </div>
                            <div *ngIf="resetPassword" class="form-group">
                                <label for="Email">Email</label>
                                <input id="Email"
                                       type="text"
                                       class="form-control"
                                       formControlName="Email">
                                
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input id="newPassword"
                                       type="password"
                                       class="form-control"
                                       formControlName="newPassword">
                                <div *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors">
                                    <div *ngIf="form.controls.newPassword.errors.required"
                                         class="alert alert-danger">
                                        New password is required.
                                    </div>
                                    <div *ngIf="form.controls.newPassword.errors.complexPassword"
                                         class="alert alert-danger">
                                        New password should be minimum {{ form.controls.newPassword.errors.complexPassword.minLength }} characters.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input id="confirmPassword"
                                       type="password"
                                       class="form-control"
                                       formControlName="confirmPassword">
                                <div *ngIf="form.controls.confirmPassword.touched && !form.controls.confirmPassword.valid"
                                     class="alert alert-danger">
                                    Confirm the password.
                                </div>
                                <!--
                                    Note that here I'm checking for form.errors.passwordShouldMatch
                                    because this validation is applied at the form itself.
                                 -->
                                <div *ngIf="form.controls.confirmPassword.touched && form.errors && form.errors.passwordsShouldMatch"
                                     class="alert alert-danger">
                                    Passwords don't match.
                                </div>
                            </div>
                            <button class="btn btn-primary  btn-block" type="submit"    >Change Password</button>
                            <div *ngIf="updating" style="width:100%; text-align: center;"> <i class="fa fa-spinner fa-spin fa-2x"></i> </div>
                            <input type="text" [(ngModel)]="resetPassword" #name formControlName="resetPassword"
                                   id="resetPassword" name="resetPassword" text="false" style="display: none" />

                            <input type="text" [(ngModel)]="confirmationCode" #name formControlName="confirmationCode"
                                   id="confirmationCode" name="confirmationCode" text="false" style="display: none" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;">
        <a routerLink="/users/profile" routerLinkActive="active">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/membership/login-help" routerLinkActive="active">Login Help</a>
    </div>
</div>
<div *ngIf="!_sessionService.CurrentSession.validSession && resetPassword == false" style="text-align:center;padding-top:25px;">
  <h1>You must be logged in to change your password.</h1>
</div>
