
<ion-view view-title="Test" hide-nav-bar="true" class="splash-page">
    <ion-content scroll="false">

        <div class="padding logo">
            <h1>Ionic Test</h1>
        </div>
        <div class="login-form">
            <div class="card">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" ng-model="form.username" placeholder="Username">
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="form.password" placeholder="Password">
                    </label>
                </div>
            </div>

            <div class="padding-left padding-right">
                <button class="button button-block action-button" ng-class="button-positive" ng-click="submitForm(form)">Sign in</button>
            </div>
        </div>
        <a style="text-decoration:none;"  href="#/register"><div class="padding signup-opt" >Create an account!</div></a>
    </ion-content>
</ion-view>
