
<ion-view title="Contact" ng-controller="ContactTabCtrl as contactForm" data-ng-init="Initialize()">
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <form name="frmContact" action="#" novalidate>

                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" name="Subject" class="form-control"
                               ng-model="contactForm.Mail.Subject" required ng-minlength=2 ng-maxlength=64
                               style="background-color:lightgray;width:95%;" />
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea name="Message" class="form-control" maxlength="1024" rows="6"
                                  ng-model="contactForm.Mail.Message"
                                  required value="{{contactForm.Mail.Message}}" style="background-color:lightgray;width:95%;"></textarea>
                    </div>
                    <input type="hidden" ng-model="contactForm.Mail.MessageType" id="MessageType" name="MessageType" value="ContactAdmin" />

                    <h5 style="color:red;">{{ contactForm.Message }}</h5>
                </form>

                <div class="row">
                    <div class="col">
                        <a ng-disabled="frmContact.$invalid" ng-click="SendMessage(frmContact.$valid); $event.preventDefault();" class="button button-block button-balanced" href="#">Send</a>
                    </div>
                </div>
                </div>
            </div>
                <div class="row">
                    <div class="col">
                        <a class="button button-block button-stable" href="#/tab/home">Cancel</a>
                    </div>
                </div>
    </ion-content>
</ion-view>
