<ion-view title="Signup" ng-controller="UserSignUpCtrl as newUser" data-ng-init="Initialize()">
    <ion-content class="padding">

        <form name="frmAccount" action="#" novalidate>
            <div class="form-group">
                <label>Username</label>
                <span ng-show="frmAccount.UserName.$valid" class="ion-checkmark-circled" style="color:green;"></span>
                <input type="text" name="UserName" class="form-control"
                       ng-model="newUser.User.UserName" required ng-minlength=2 ng-maxlength=20
                       style="background-color:lightgray;width:95%;" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <span ng-show="frmAccount.Email.$valid" class="ion-checkmark-circled" style="color:green;"></span>
                <input type="email" name="Email" class="form-control"
                       ng-model="newUser.User.UserEmail"
                       required value="{{newUser.User.UserEmail}}" style="background-color:lightgray;width:95%;" />
            </div>
            <div class="form-group">

                <div style="display:inline;">
                    <span><label>Password</label></span>
                    <span ng-show="frmAccount.Password.$valid" class="ion-checkmark-circled" style="color:green;"></span>
                    <span ng-messages="frmAccount.Password.$error"><span ng-messages-include="../content/_tm/messages.html"></span></span>
                </div>
                <input type="password" name="Password" class="form-control"
                       ng-model="newUser.User.UserPassword" ng-minlength=7
                       required style="background-color:lightgray;width:95%;" />

            </div>
            <div class="form-group">

                <div style="display:inline;">
                    <span><label>Password</label></span>
                    <span ng-show="frmAccount.PasswordConfirm.$valid" class="ion-checkmark-circled" style="color:green;"></span>
                    <span ng-messages="frmAccount.PasswordConfirm.$error"><span ng-messages-include="../content/_tm/messages.html"></span></span>
                </div>
 
                <input type="password" name="PasswordConfirm" class="form-control"
                       ng-model="newUser.User.UserPasswordConfirm"
                       required compare-to="newUser.User.UserPassword" style="background-color:lightgray;width:95%;" />
            </div>
            <h5 style="color:red;">{{ newUser.Message }}</h5>
        </form>
 
        <div class="row">
            <div class="col">
                <a ng-disabled="frmAccount.$invalid" ng-click="CreateAccount(frmAccount.$valid); $event.preventDefault();" class="button button-block button-balanced" href="#">Sign Up</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a  class="button button-block button-stable" href="#/tab/signin">Sign In</a>
            </div>
        </div>
    </ion-content>
</ion-view>

<!--<ion-view title="Satellizer Ionic">
    <ion-content class="padding">
        <div ng-if="!isAuthenticated()">
            <button ng-click="authenticate('facebook')" class="button button-block icon-left ion-social-facebook">
                Sign in with Facebook
            </button>
            <button ng-click="authenticate('google')" class="button button-block icon-left ion-social-googleplus">
                Sign in with Google
            </button>
            <button ng-click="authenticate('linkedin')" class="button button-block icon-left ion-social-linkedin">
                Sign in with LinkedIn
            </button>
            <button ng-click="authenticate('twitter')" class="button button-block icon-left ion-social-twitter">
                Sign in with Twitter
            </button>
            <button ng-click="authenticate('foursquare')" class="button button-block icon-left ion-social-foursquare-outline">
                Sign in with Foursquare
            </button>
            <button ng-click="authenticate('github')" class="button button-block icon-left ion-social-github">
                Sign in with GitHub
            </button>
            <button ng-click="authenticate('yahoo')" class="button button-block icon-left ion-social-yahoo">
                Sign in with Yahoo
            </button>
            <button ng-click="authenticate('live')" class="button button-block icon-left ion-social-windows">
                Sign in with Windows Live
            </button>
        </div>
        <div ng-if="isAuthenticated()">
            <div class="card">
                <div class="item item-text-wrap">
                    You are currently logged in.
                </div>
            </div>
            <button ng-click="logout()" class="button button-block">
                Log Out
            </button>
        </div>
    </ion-content>
</ion-view>-->
