<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2017 TreeMon.org.
Licensed under CPAL 1.0,  See license.txt  or go to http://treemon.org/docs/license.txt  for full license details.
-->

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
     <add name="mssql" connectionString="Data Source=localhost;Initial Catalog=DevTreeMon;User Id=username; Password=passwerd; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    	<add key="UseDatabaseConfig" value="true" />
      <add key="AllowedOrigin" value="http://localhost:4200/" />
      <add key="MailHost" value="smtp.gmail.com" />                                           
      <add key="MailPort" value="587" />                                                         
      <add key="EmailHostUser" value="whaaat@gmail.com" />                                    
      <add key="UseSSL" value="true" />                                                          
      <add key="SiteEmail" value="what@gmail.com" />                                  
      <add key="EmailHostPassword" value="encryptedstring" />     
  
     <add key="ApiStatus" value="PROTECTED" />
     <add key="AppKey" value="keepmesafe" />
     <add key="DBBackupKey" value="metoo" />
     <add key="SessionLength" value="60" />
     <add key="SiteAdmins" value="justincase" />
     <add key="DefaultDbConnection" value="MSSQL" />
    <add key="AddRequestPermissions" value="false" />
    <add key="SiteDomain" value="yourdomainname.com" />
    <add key="ApiVersion" value="1.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="ApiStatus" value="true" />
    <add key="SessionLength" value="30" />
    <add key="TemplateEmailNewMember" value="App_Data\Templates\Site\EmailNewMember.html" />
    <add key="TemplatePasswordResetEmail" value="App_Data\Templates\Site\PasswordResetEmail.html" />
    <add key="TemplateUserInfoEmail" value="App_Data\Templates\Site\UserInfoEmail.html" />
    <add key="EmailStoreTemplateOrderStatusReceived" value="App_Data\Templates\Store\EmailOrderReceived.html" />
  </appSettings>
  <system.web>
   
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
       <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <!-- TODO GET rid of the line below ASAP. The iis doesn't like the . in the url e.g. delete a category and the url will be .../Delete/CAT.NAME 
      Newer IIS fixes this. And this may be just local iis so try a transform to pull it out.
    -->
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>