<?xml version="1.0"?>
<!--
Copyright (c) 2017 TreeMon.org.
Licensed under CPAL 1.0,  See license.txt  or go to http://treemon.org/docs/license.txt  for full license details.
-->

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mssql" connectionString="Data Source=dbserver;Initial Catalog=yourdatabase;User Id=user;
         Password=pwd; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="UseDatabaseConfig" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="AllowedOrigin" value="http://yourdomain" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailHost"               value="mail.domain.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  /> 
    <add key="MailPort"               value="465"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  /> 
    <add key="EmailHostUser"          value="info@domain.org"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  /> 
    <add key="UseSSL"                 value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  /> 
    <add key="SiteEmail"              value="info@domain.org"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  /> 
    <add key="EmailHostPassword"      value="encryptedpwd"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  /> 
    <add key="ApiStatus" value="PRIVATE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AppKey" value="appkeygoeshere" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DBBackupKey" value="dbkey" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SessionLength" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SiteAdmins" value="admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultDbConnection" value="MSSQL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AddRequestPermissions" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SiteDomain" value="domain.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiVersion" value="1.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientValidationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TemplateEmailNewMember" value="App_Data\Templates\Site\EmailNewMember.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TemplatePasswordResetEmail" value="App_Data\Templates\Site\PasswordResetEmail.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TemplateUserInfoEmail" value="App_Data\Templates\Site\UserInfoEmail.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailStoreTemplateOrderStatusReceived" value="App_Data\Templates\Store\EmailOrderReceived.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
