<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
      <add name="MYSQL_TEST" connectionString="Database=MYSQLSystemTest;Server=localhost;UID=USERNAME;PWD=PASSWORD;" providerName="MySql.Data.MySqlClient"    xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>