<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2017 TreeMon.org.
Licensed under the CPAL,  See license.txt  or go to http://treemon.org/docs/license.txt  for full license details.
-->
<packages>
  <package id="Dapper" version="1.50.7" targetFramework="net452" />
  <package id="Dapper.SimpleCRUD" version="2.0.1" targetFramework="net452" />
  <package id="DapperExtensions" version="1.6.3" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="morelinq" version="3.1.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>