<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="signup-logo">
    <img src="assets/img/treemon_header.png" alt="TreeMon Logo">
  </div>
  <div *ngIf="loading  === false" innerHtml="{{message}}" style="display: block;margin: auto;"></div>
  <ion-spinner *ngIf="loading === true"  style="display: block;margin: auto;"  ></ion-spinner>
  <form *ngIf="loading === false" #signupForm="ngForm" novalidate>
    <ion-list lines="none">
        <ion-item>
            <ion-label position="stacked" color="primary">Email</ion-label>
            <ion-input [(ngModel)]="user.Email" name="email" type="text" #email="ngModel" required>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="email.valid || submitted == false" padding-left>
              Email is required
            </p>
          </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input [(ngModel)]="user.Name" name="name" type="text" #name="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="name.valid || submitted == false" padding-left>
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="user.Password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" padding-left>
          Password is required
        </p>
      </ion-text>

      <ion-item>
          <ion-label position="stacked" color="primary">Confirm Password</ion-label>
          <ion-input [(ngModel)]="user.ConfirmPassword" name="confirmPassword" type="password" #confirmPassword="ngModel" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="user.ConfirmPassword === user.Password || submitted == false" padding-left>
            Passwords must match.
          </p>
        </ion-text>
    </ion-list>

    <div padding>
      <ion-button (click)="onSignup(signupForm)" type="button" expand="block">Create</ion-button>
    </div>
  </form>

</ion-content>
