page-signup {
  .signup-logo {
    background-color:white; //var(--ion-color-dark);
    width: 100%;
    text-align: center;
    padding-top: 5px;
  }

  .signup-logo img {
    width: 100%;
  }

  .list {
    margin-bottom: 0;
  }
}
