<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <!--   <ion-back-button text="Hosts"></ion-back-button> -->
      <ion-button class="button button-clear" (click)="goBack()" >
          <ion-icon name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title>{{item?.Name}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo make components for each type(?) then switch - case according to type-->
<ion-content padding class="host-detail">
  
  <ion-spinner *ngIf="loading === true"  style="display: block;margin: auto;"  ></ion-spinner>
  <div *ngIf="canEditHost() === true" >
    <ion-button *ngIf="editing === false" fill="clear" size="medium"  (click)="editHost()" >
      <ion-icon name="md-create" slot="icon-only"></ion-icon>
    </ion-button>
    <span>
        <ion-button  style="color:green;" *ngIf="editing === true" fill="clear" size="medium"  (click)="saveHost()" >
        <ion-icon name="done-all" slot="icon-only"></ion-icon> 
        </ion-button>
      <ion-button style="color:red;" *ngIf="editing === true" fill="clear" size="medium"  (click)="cancelEditHost()" >
        <ion-icon name="close-circle" slot="icon-only"></ion-icon> 
      </ion-button>
    </span>
  </div>
  <div text-center *ngIf="item">
    <img [src]="item.Image" [alt]="item.Name"  style="border-radius: 50%;" >
    <br>
    <div *ngIf="editing === false"  >
      <ion-button fill="clear" size="medium"  (click)="openHostSite(host)" *ngIf="item.WebSite !== null && item.WebSite !== ''" >
        <ion-icon name="globe" slot="icon-only"></ion-icon>
        Website
      </ion-button>
    </div>
    <div *ngIf="editing === true"  >
        <ion-input [(ngModel)]="item.WebSite" placeholder="WebSite" name="WebSite" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
    </div>

  </div>  

  <!--Image upload-->
  <div *ngIf="editing === true" >
    <label class="fileInput">
      <input type="file"  name="file-1[]" id="file-1" multiple  required   (change)="changeImageEvent($event, 0)" />
      <span>Change Image</span>
    </label>
    <label *ngIf="hasCamera" (click)="getPicture()"  class="lblButton" >
      <ion-icon name="camera" style="width:20px;height: 17px;" > </ion-icon>
    </label>
  </div>

  <div *ngIf="editing === false" >
      <div  text-center ><label style="color:black;">{{item?.Description}}</label></div>
  </div>

  <div *ngIf="editing === false">
      <div >
      <label>{{geoLocation.location.Name}}</label> <br/>
      </div>
      <div *ngIf="isNullOrWhitespace(geoLocation.location.Address1) === false">
        <label>{{geoLocation.location.Address1}}</label><br/>
      </div>
      <div *ngIf="isNullOrWhitespace(geoLocation.location.Address2) === false">
        <label  >{{geoLocation.location.Address2}}</label><br/>
      </div>
      <div *ngIf="isNullOrWhitespace(geoLocation.location.City) === false">
      <label>{{geoLocation.location.City}}, {{geoLocation.location.State}} {{geoLocation.location.Postal}}</label> &nbsp;
      </div>
      <div *ngIf="isNullOrWhitespace(geoLocation.location.Country) === false">
        <label>{{geoLocation.location.Country}}</label><br/>
      </div>
      <div *ngIf="isNullOrWhitespace(geoLocation.location.Description) === false">
        <label>{{geoLocation.location?.Description}}</label>
      </div>
  </div>
  <ion-list *ngIf="editing === true">
      <ion-item>
        <ion-input [(ngModel)]="item.Name" placeholder="Host Name" name="name" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
          <ion-textarea [(ngModel)]="item.Description" placeholder="Host Description" name="description" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"            >
          </ion-textarea>
      </ion-item>
  </ion-list>

  <ion-list #eventsList  *ngIf="eventCount > 0 && type === 'ACCOUNT'" >
    <ion-item-group *ngFor="let group of groups" >
      
              <ion-item-divider sticky>
                  <ion-label>
                    {{group.Name}}
                  </ion-label>
                </ion-item-divider>
                  <ion-item-sliding  *ngFor="let event of group.Events" #slidingItem >
                      <ion-item button (click)="goToSessionDetail(event)">
                        <ion-label>
                          <div >
                            <label class="cell-block" >{{event.Name}}</label>
                            <label>Private: {{event.Private}}</label>
                            <div *ngIf="event.Private === true" class="cell-block" style="float:right;" >  
                              <ion-icon name='eye' slot="start" style="color:red;"   ></ion-icon>
                            
                            </div>
                            <div class="cell-block" style="float:right;"   [innerHTML]="getCategoryIcon(event.Category)" ></div>
                          </div>
                          <p>
                            {{formatDate(event.StartDate,'MMM-DD') }} &mdash; {{formatDate(event.EndDate,'MMM-DD') }}: {{event.Location}}
                          </p>
                          
                        </ion-label>
                      </ion-item>
                  
                      <ion-item-options side="start" *ngIf="event.CreatedBy === sessionService.CurrentSession.UserUUID" >
                          <button ion-button style="background-color:#f04141;color:white;" (click)="deleteEvent(slidingItem,event)">Delete</button> 
                      </ion-item-options>
                      
          
                      <ion-item-options  >
                        <ion-item-option  *ngIf="segment === 'all' &&  sessionService.CurrentSession.UserUUID !== ''" color="favorite" (click)="addFavoriteEvent(slidingItem, event)">
                          Favorite
                        </ion-item-option>
                        <ion-item-option  *ngIf="segment === 'all' && event.CreatedBy === sessionService.CurrentSession.UserUUID" 
                            color="light" (click)="editEvent(slidingItem, event)">
                            Edit
                          </ion-item-option>
                        <ion-item-option *ngIf="segment === 'favorites' && event.CreatedBy === sessionService.CurrentSession.UserUUID" 
                          color="danger" (click)="removeFavoriteEvent(slidingItem, event, 'Remove Favorite')">
                          Remove
                        </ion-item-option>
                      </ion-item-options>
                  </ion-item-sliding>
              </ion-item-group>  
  </ion-list>
        
  <ion-list-header *ngIf="eventCount === 0  && type === 'ACCOUNT'">
    No Events Found
  </ion-list-header>
  <geolocation-component (eventSaveData)="saveEvent( )" 
        #geoLocation 
        mapOnly="true"
        ShowSaveAddButton="false"
        ShowSaveButton="false"
        ShowChangeLocationButton="false"
        ShowPreviousLocationsCBO="false"
        UUID="{{eventLocationUUID}}"
        UUIDType="'Location'"
        [isNew]="isNew" >
  </geolocation-component>

  <div padding   *ngIf="editing === true" >
      <ion-button (click)="saveHost()" type="button" expand="block" >Save</ion-button>
  </div>

</ion-content>
