<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2017 TreeMon.org.
Licensed under the CPAL,  See license.txt  or go to http://treemon.org/docs/license.txt  for full license details.
-->
<packages>
  <package id="morelinq" version="2.6.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
  <package id="XCaptcha" version="2.0.0" targetFramework="net452" />
</packages>