page-map {
  .map-canvas {
    position: absolute;

    height: 100%;
    width: 100%;

    background-color: transparent;

    opacity: 0;
    transition: opacity 150ms ease-in
  }

  .show-map {
    opacity: 1;
  }
/*
labelContent: markerLabel,
  labelAnchor: new google.maps.Point(18, 12),
  labelClass: "my-custom-class-for-label", // your desired CSS class
  labelInBackground: true

.my-custom-class-for-label {
  width: 50px; 
  height: 20px;

  border: 1px solid #eb3a44;
  border-radius: 5px;
  background: #fee1d7;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #eb3a44;
}
*/
}
