
<app-messageboxes></app-messageboxes>
<div id="pnlAccount">
        <div class="row">
            <h1>Accounts : {{activeAccount?.Name}}</h1>
            <hr/>
          
        </div>
        <div class="row" *ngIf="!deletingData" >
            <div class="cell-block">
                    <select class="form-control input-sm" id="cboAccounts" name="cboAccounts"
                            [(ngModel)]="accountDetail.UUID"
                            (ngModelChange)="cboAccountsChange($event)">

                            <option *ngFor="let account of accounts" value="{{account.UUID}}" >{{account.Name}}</option>
                    </select>
                </div>
            <div class="cell-block">
                    <button (click)="onClickSetActiveAccount()" *ngIf="!settingActiveAccount" class="form-control input-sm"
                             [disabled]='accountDetail.UUID == activeAccount?.UUID'
                             value="Set Default"  > <i class="fa fa-check-circle-o icon-large"></i></button>
                    <div *ngIf="settingActiveAccount" style="width:100%; text-align: center;"> <i class="fa fa-spinner fa-spin fa-2x"></i> </div>
                </div>
            <div class="cell-block">
                    <button (click)="onClickAddNewAccount()"  class="form-control input-sm" value="New Account">
                        <i class="fa fa-plus icon-large" style="color:green;"></i>
                    </button>
                  
                </div>
            <div class="cell-block">
                
                <button pbutton="" type="button"  class="form-control input-sm" value="Delete Account"  (click)="onClickDeleteAccountDetail()"  
                         [disabled]='accountDetail.UUID == activeAccount?.UUID'               >
                    <i class="fa fa-trash"  style="color:red;"></i></button>
                <p-confirmDialog width="425"></p-confirmDialog>
                <p-growl [value]="msgs"></p-growl>
            </div>
            <div *ngIf="deletingData" style="width:100%; text-align: center;"> <i class="fa fa-spinner fa-spin fa-2x"></i> </div>
            <br/>
            <p-accordion   (onOpen)="onTabShow($event)"    >
                    <p-accordionTab header="Details" [selected]="true" >
                        <div *ngIf="loadingData" style="width:100%; text-align: center;"> <i class="fa fa-spinner fa-spin fa-2x"></i> </div>
                        <form role="form" [formGroup]="formAccountDetail" (ngSubmit)="saveAccountDetail()" id="ngFormAccountDetail" #accountDetailForm="ngForm">

                            <fieldset>
                                <div class="form-group">
                                    <label for="Name">Name</label>
                                    <input 
                                           [(ngModel)]="accountDetail.Name"
                                            name="Name"
                                            #name formControlName="Name"
                                            required type="text"
                                            class="input-sm form-control" />

                                    <div *ngIf="formAccountDetail.controls.Name.touched && !formAccountDetail.controls.Name.valid" class="alert alert-danger">
                                        Name is required.
                                    </div>
                                </div>
                                <div id="pnlAccountEmail" class="form-group">
                                    <label class="control-label" for="Email">Email</label>
                                    <input [(ngModel)]="accountDetail.Email" #Email formControlName="Email" type="text" required class="input-sm form-control">
                                    <div *ngIf="formAccountDetail.controls.Email.touched && !formAccountDetail.controls.Email.valid" class="alert alert-danger">
                                        Please type a valid Email.
                                    </div>
                                </div>
                                <div id="pnlAccountSortOrder" class="form-group">
                                    <label class="control-label" for="SortOrder">SortOrder</label>
                                    <input [(ngModel)]="accountDetail.SortOrder" #Email formControlName="SortOrder" type="text" class="input-sm form-control">
                                </div>
                                <div id="pnlAccountPrivate" class="form-group">
                                    <p-checkbox [(ngModel)]="accountDetail.Private"  label="Private" binary="true" formControlName="Private"  ></p-checkbox>
                                </div>
                                <div id="pnlAccountActive" class="form-group">
                                    <p-checkbox [(ngModel)]="accountDetail.Active" label="Active" binary="true" formControlName="Active"></p-checkbox>
                                </div>
                             
                            </fieldset>
                            <button *ngIf="!loadingData" [disabled]="!accountDetailForm.form.valid" (click)="accountDetailForm.ngSubmit.emit()" type="submit" class="btn btn-primary btn-block">
                             Save
                            </button>
                            </form>


                        </p-accordionTab>
                    <p-accordionTab header="Users">

                        <div *ngIf="loadingData" style="width:100%; text-align: center;"> <i class="fa fa-spinner fa-spin fa-2x"></i> </div>
                        <p-pickList  [source]="accountNonMembers" [target]="accountMembers" sourceHeader="Available"
                                         (onMoveToTarget)="addUsers($event)" (onMoveToSource)="removeUsers($event)"
                                         targetHeader="Selected" [responsive]="true" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}"
                                        >
                                <!--Angular4 use ng-template <ng-template let-node pTemplate="item">-->
                                <ng-template let-node pTemplate="user">
                                    <div class="ui-helper-clearfix">
                                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{node.Name}}</div>
                                    </div>
                                </ng-template>
                            </p-pickList>
                    </p-accordionTab>
                </p-accordion>
        </div>
  
</div>

