<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-segment [(ngModel)]="segment" (ionChange)="segmentClicked()">
        <ion-segment-button value="all">
          All ({{itemCount}})
        </ion-segment-button>
        <ion-segment-button value="favorites">
          Favorites
        </ion-segment-button>
      </ion-segment>
  
      <ion-buttons slot="end">
        <ion-button (click)="presentFilter()">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
    <ion-toolbar color="primary">
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="searchEvents()" placeholder="Search">    </ion-searchbar>
     <!-- <input type="text"  class="search-input"    placeholder="&#xF002; Search"  style="font-family:Arial, FontAwesome;"
                                                         (ngModelChange)="searchEvents($event)"
                                                         [(ngModel)]="queryText" />-->
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-refresher #refresherRef [disabled]="false" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content   ></ion-refresher-content>
    </ion-refresher>
  <ion-list #ctlList >
    <ion-item-sliding #slidingItem  *ngFor='let item of listItems;let i = index;'  >  
        <ion-item button (click)="goToItemDetail(item)">
            <ion-label>
              <div >
                <label class="cell-block" >{{item.Name}}</label>
                <div *ngIf="item.Private === true" class="cell-block" style="float:right;" >  
                  <ion-icon name='eye' slot="start" style="color:red;"   ></ion-icon>
                </div>
                <div class="cell-block" style="float:right;"   [innerHTML]="getCategoryIcon(item.Category)" ></div>
              </div>
              <p>
                {{formatDate(item.StartDate,'MMM-DD') }} &mdash; {{formatDate(item.EndDate,'MMM-DD') }}: {{item.Location}}
              </p>
              <div *ngIf="i === loadMoreIndex"  >
                <div  inViewport (inViewportAction)="loadMoreInViewPort($event, i)" ></div>
              </div>
            </ion-label>
          </ion-item>
            <!-- 
        <ion-item-options side="start"  *ngIf="item.CreatedBy === sessionService.CurrentSession.UserUUID"   >
                
                && item.AccountUUID === sessionService.CurrentSession.AccountUUID  
                <button ion-button style="background-color:#f04141;color:white;"  (click)="deleteItem(slidingItem,item)" >Delete</button> 
        </ion-item-options>
      --> 
        <ion-item-options  >
            <ion-item-option  *ngIf="segment === 'all'  &&  sessionService.CurrentSession.UserUUID !== ''" 
                style="color:lightblue;"  (click)="addFavoriteItem(slidingItem, item)" >
               
              Favorite
            </ion-item-option>
                <ion-item-option  *ngIf="segment === 'all' && item.CreatedBy === sessionService.CurrentSession.UserUUID"
                  color="light" (click)="editItem(slidingItem, item)">
                    <!--  
                && item.AccountUUID === sessionService.CurrentSession.AccountUUID  --> 
              Edit
              </ion-item-option>
              <ion-item-option *ngIf="segment === 'favorites'  && item.FavoritedByUserUUID === sessionService.CurrentSession.UserUUID
                  && item.FavoritedByAccountUUID === sessionService.CurrentSession.AccountUUID" 
                 color="danger" (click)="removeFavoriteItem(slidingItem,item)"  >
                   <!--  
                && item.AccountUUID === sessionService.CurrentSession.AccountUUID  --> 
              Remove
            </ion-item-option>
           
          </ion-item-options>
    </ion-item-sliding>
  </ion-list>  
  
  <ion-list-header *ngIf="itemCount === 0">
      No data found
  </ion-list-header>
    
  <ion-fab    slot="fixed" vertical="bottom" horizontal="end" #fab>
      <ion-fab-button #fabButton (click)="toggleList(fabButton, fabList)">
       <ion-icon name='{{fabIcon}}'   ></ion-icon>
      </ion-fab-button>
      <ion-fab-list #fabList side="top">
          <ion-fab-button  *ngIf="viewType !== 'event'"  (click)="loadTypes('event', fab)">
            <ion-icon name='calendar'   ></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="viewType !== 'host'"   (click)="loadTypes('host', fab)">
            <ion-icon name='contacts'   ></ion-icon>
      </ion-fab-button>
      </ion-fab-list>
  </ion-fab>
    <!-- 
      doesn't work..
    <cdk-virtual-scroll-viewport cdkDropList itemSize="20" class="example-viewport" (cdkDropListDropped)="drop($event)">
        <ion-item *cdkVirtualFor="let item of listItems" class="example-event" href="/tabs/(details:{{item.UUID}}/{{item.UUIDType}})" cdkDrag>
          <ion-icon name="desktop" slot="start"></ion-icon>
          {{item.Name}}
          <div class="item-note" slot="end">
            {{item.Body}}
          </div>
        </ion-item>
      </cdk-virtual-scroll-viewport>
    -->
    
</ion-content>
