 
<!--  -->
<div *ngIf="mapOnly === false" >
        <input [(ngModel)]="location.Name" name="name" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
        placeholder="Location Name" style="width:100%;" />
        <h6>{{location.Address1}}</h6>
        <h6>{{location.City}}</h6>
        <h6>{{location.State}}</h6>
        <br/>
    </div>

    <div *ngIf="changeLocation === false && ShowChangeLocationButton === true">
            <input type="button"   (click)="toggleSelectLocationView()"
            style="width:100%;
            display:block;margin: auto; 
            border-radius: 2px;
            background-color: #3880ff;   
            border: none;   
            color: white;   
            padding: 16px 16px;   
            text-decoration: none;   
            cursor: pointer;"
                value="{{btnChangeLocationTitle}}"/>
    </div>
    <div *ngIf="changeLocation === true && ShowPreviousLocationsCBO === true"  >
        <p-dropdown  [options]="previousLocations"  name="Location" appendTo="body"
        (onChange)="onCboChangePreviousLocation($event )"
        placeholder="Previous locations.."
        [style]="{  'width':'100%','z-index':'900 !important', 'position':'relative  !important'}"
        [(ngModel)]="category"  ></p-dropdown>
            
        
    </div>
    <div *ngIf="changeLocation === true" style="padding-top: 15px;">
        <div *ngIf="canGetLocation === true">
        <button type="button"  (click)="getCurrentLocation()"
            style="display: block;
            margin: auto; 
            width:100%;
            border-radius: 2px;
            background-color: #f4f5f8;   
            border: none;   
            color: black;   
            padding: 16px 16px;   
            text-decoration: none;   
            cursor: pointer;" >
            <i style="color:red;" class="fa fa-map-marker-alt"></i> Use my location..
        </button>
        <div   style="width:100%; text-align: center;">
                <label>OR</label>
        </div>
        <span>
            
               
        <input type="text" placeholder="Search for location.." [(ngModel)]="query"  (ngModelChange)="searchPlace($event)"
            style="width:100%;margin-bottom: 5px;" />
        </span>
            <div *ngIf="searching === true" ><label>searching...</label></div>
            <div *ngIf="showSearchResults === true">
                <div *ngFor="let place of places">
                    <label (click)="selectPlace(place)"  >{{place.description}}</label>
                </div>
            </div>
        </div>
      
        <br/>
      
        <label>Curent Location:</label>
        <input  [(ngModel)]="location.Name" placeholder="Name" type="text" class="nativeInput" style="width:100%;margin-bottom:5px;"   />
        <input  [(ngModel)]="location.Address1" placeholder="Address 1"    type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Address2" placeholder="Address 2" type="text"  style="width:100%;margin-bottom:5px;"  />
        <input  [(ngModel)]="location.City" placeholder="City" type="text" style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.State" placeholder="State" type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Country" placeholder="Country"  type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Postal"  placeholder="Postal"  type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Description"  placeholder="Description"  type="text"  style="width:100%;margin-bottom:5px;" />
  

    </div>
    <br/>

    <div *ngIf="savingEvent === true" style="width:100%; text-align: center;"> <i class="fa fa-spinner fa-spin fa-2x"></i>Saving..</div>
    <div *ngIf="savingEvent ===  false"  >

        <input type="button"   (click)="saveEvent(true)" *ngIf="ShowSaveButton === true"
            style="width:100%;
            bottom:0;
            display:block;margin: auto; 
            border-radius: 2px;
            background-color: green;   
            border: none;   
            color: white;   
            padding: 16px 16px;   
            text-decoration: none;   
            cursor: pointer;"
            value="Save"/>
        <br/>
            <input type="button"   (click)="saveEvent(false)" *ngIf="ShowSaveAddButton === true"
                style="width:100%;
                bottom:0;
                display:block;margin: auto; 
                border-radius: 2px;
                background-color: blue;   
                border: none;   
                color: white;   
                padding: 16px 16px;   
                text-decoration: none;   
                cursor: pointer;"
            value="Save +"/>
    </div>
    
<br/>
<div #mapCanvas class="map-canvas" ></div>
