<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/treemon_header.png" alt="Treemon logo">
  </div>

  <ion-spinner *ngIf="processing === true"  style="display: block;margin: auto;"  ></ion-spinner>
  <div  style="display: block;margin: auto;" *ngIf="showMessage === true" innerHtml="{{message}}" > </div>
  
  <form #loginForm="ngForm" novalidate  *ngIf="processing === false"  >
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input [(ngModel)]="login.UserName" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" padding-left>
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" padding-left>
          Password is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label color="primary" fixed>Remember Me</ion-label>
      <ion-checkbox [(ngModel)]="login.RememberMe" name="RememberMe" ></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-row responsive-sm>
      <ion-col>
        <ion-button (click)="onLogin(loginForm)" type="button" expand="block">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
      </ion-col>
    </ion-row>

    <br/>
    <ion-row responsive-sm>
      <ion-col>
        <ion-button (click)="onResetPassword(loginForm, true)" type="button" expand="block">Reset</ion-button>
      </ion-col>
      <ion-col>
          <ion-button (click)="onResetPassword(loginForm, false)" type="button" expand="block">Send Account Info</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
