<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" id="icoHome" ></ion-icon>
      <ion-label id="lblHome" >Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="globe"></ion-icon>
      <ion-label id="lblMap">Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label id="lblAbout" >About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
